@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}